In [2]:

import pandas as pd
import numpy as np

#upload the file /Users/tommi/Desktop/Uni_documents/Data/commodity-2005.csv taking the "Dates" column as index
commodity = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/commodity-2005.csv', index_col='Dates')

In [3]:
# import /Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv
volatility = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv', index_col='Dates')

In [4]:
#upload /Users/tommi/Desktop/Uni_documents/Data/EHI640_returns10-02-2025.csv
benchmark_vol = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/EHI640_returns10-02-2025.csv')

In [5]:
#from the volatility dataframe, delete the rows where data is less than 1/12/2004 and greater than 31/12/2004
volatility = volatility.loc['31/12/2004': '31/12/2024' ]

In [6]:
volatility.tail()

,VIXY US Equity,VXX US Equity,UVXY US Equity,VIXM US Equity,VIX Index
Dates,,,,,
30/08/2024,44.00,44.500,21.83,14.42,15.00
30/09/2024,49.00,49.600,24.93,15.11,16.73
31/10/2024,57.20,57.870,30.94,15.60,23.16
29/11/2024,41.99,42.585,19.30,13.74,13.51
31/12/2024,45.02,45.800,20.72,14.46,17.35

In [7]:
benchmark_vol.tail()

    ReturnDate  PercentReturn   Index
236   Aug 2024           0.62  186.91
237   Sep 2024           1.96  190.57
238   Oct 2024           0.93  192.34
239   Nov 2024          -1.04  190.35
240   Dec 2024           0.21  190.75

In [8]:
#count the numer of rows in the benchmark_vol dataframe and volatility dataframe
print(len(benchmark_vol))
print(len(volatility))

241
241

In [9]:
#reset the index of volatility dataframe
volatility.reset_index(inplace=True)

In [10]:
#merge the benchmark_vol and volatility dataframes, the first line with the first , the second with the second and so on 
merged = pd.merge(benchmark_vol, volatility, left_index=True, right_index=True)

In [11]:
merged.head()

,ReturnDate,PercentReturn,Index,Dates,VIXY US Equity,VXX US Equity,UVXY US Equity,VIXM US Equity,VIX Index
0,Dec 2004,NaN,100.00,31/12/2004,NaN,NaN,NaN,NaN,13.29
1,Jan 2005,0.31,100.31,31/01/2005,NaN,NaN,NaN,NaN,12.82
2,Feb 2005,0.32,100.63,28/02/2005,NaN,NaN,NaN,NaN,12.08
3,Mar 2005,-1.07,99.56,31/03/2005,NaN,NaN,NaN,NaN,14.02
4,Apr 2005,-0.60,98.96,29/04/2005,NaN,NaN,NaN,NaN,15.31

In [ ]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

#create a new df with the merged data for when the Dates are greater then 31/01/2011
df = merged[merged["Dates"] > "31/01/2011"]

# Convert PercentReturn to decimal form (e.g., 0.31 → 0.0031)
df["PercentReturn"] = pd.to_numeric(df["PercentReturn"], errors="coerce") / 100

# List of proxy columns
proxy_cols = ["VIXY US Equity", "VXX US Equity", "UVXY US Equity", "VIXM US Equity", "VIX Index"]

# Compute log returns for proxies
for proxy in proxy_cols:
    df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))

# Drop first row (since log return calculation creates NaN)
df = df.dropna(subset=["PercentReturn"] + [p + "_log_return" for p in proxy_cols])

# Dictionary to store R² values
r2_scores = {}

# Run regressions for each proxy's log return
for proxy in proxy_cols:
    proxy_return_col = proxy + "_log_return"
    temp_df = df.dropna(subset=[proxy_return_col])  # Remove NaNs for this proxy
    if len(temp_df) > 10:  # Ensure enough data points
        X = sm.add_constant(temp_df[proxy_return_col])  # Add intercept
        y = temp_df["PercentReturn"]
        model = sm.OLS(y, X).fit()
        r2_scores[proxy] = model.rsquared  # Store R²

# Convert R² results into a DataFrame for comparison
r2_df = pd.DataFrame(list(r2_scores.items()), columns=["Proxy", "R²"]).sort_values(by="R²", ascending=False)

# Highlight the best proxy
best_proxy = r2_df.iloc[0]["Proxy"]
print("Best Proxy by R²:", best_proxy)
print(r2_df)

# Save results
r2_df.to_csv("proxy_r2_results.csv", index=False)

Best Proxy by R²: VIXM US Equity
            Proxy        R²
3  VIXM US Equity  0.611010
1   VXX US Equity  0.610285
0  VIXY US Equity  0.576338
2  UVXY US Equity  0.560874
4       VIX Index  0.419153

/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["PercentReturn"] = pd.to_numeric(df["PercentReturn"], errors="coerce") / 100
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_3962/1707664454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))

In [15]:
#commodity head
commodity.head()

,BCOM Index,PDBC US Equity,DBC US Equity,GSG US Equity,USCI US Equity,DJP US Equity,SPY US Equity,UC14 LN Equity,COMF LN Equity
Dates,,,,,,,,,
04/01/05,142.3930,NaN,NaN,NaN,NaN,NaN,118.83,NaN,NaN
05/01/05,142.1799,NaN,NaN,NaN,NaN,NaN,118.01,NaN,NaN
06/01/05,144.4881,NaN,NaN,NaN,NaN,NaN,118.61,NaN,NaN
07/01/05,144.2124,NaN,NaN,NaN,NaN,NaN,118.44,NaN,NaN
10/01/05,144.5722,NaN,NaN,NaN,NaN,NaN,119.00,NaN,NaN

In [18]:
import pandas as pd
import statsmodels.api as sm
import numpy as np

df = commodity

# List of proxy columns
proxy_cols = [
    "PDBC US Equity", "DBC US Equity", "GSG US Equity", 
    "USCI US Equity", "DJP US Equity", "SPY US Equity", 
    "UC14 LN Equity", "COMF LN Equity"
]

# Convert index and proxies to log returns
df["BCOM_log_return"] = np.log(df["BCOM Index"] / df["BCOM Index"].shift(1))

for proxy in proxy_cols:
    df[proxy + "_log_return"] = np.log(df[proxy] / df[proxy].shift(1))

# Drop NaNs resulting from shift operation
df = df.dropna(subset=["BCOM_log_return"] + [p + "_log_return" for p in proxy_cols])

# Dictionary to store R² values
r2_scores = {}

# Run regressions for each proxy
for proxy in proxy_cols:
    proxy_return_col = proxy + "_log_return"
    temp_df = df.dropna(subset=[proxy_return_col])  # Remove NaNs for this proxy
    if len(temp_df) > 10:  # Ensure enough data points
        X = sm.add_constant(temp_df[proxy_return_col])  # Add intercept
        y = temp_df["BCOM_log_return"]
        model = sm.OLS(y, X).fit()
        r2_scores[proxy] = model.rsquared  # Store R²

# Convert R² results into a DataFrame for comparison
r2_df = pd.DataFrame(list(r2_scores.items()), columns=["Proxy", "R²"]).sort_values(by="R²", ascending=False)

# Highlight the best proxy
best_proxy = r2_df.iloc[0]["Proxy"]
print("Best Proxy by R²:", best_proxy)
print(r2_df)

# Save results
r2_df.to_csv("commodity_proxy_r2_results.csv", index=False)

Best Proxy by R²: DJP US Equity
            Proxy        R²
4   DJP US Equity  0.921244
1   DBC US Equity  0.768072
2   GSG US Equity  0.723998
7  COMF LN Equity  0.661192
3  USCI US Equity  0.649206
6  UC14 LN Equity  0.610042
0  PDBC US Equity  0.502229
5   SPY US Equity  0.082434