In [37]:

import pandas as pd
import numpy as np

#upload the file /Users/tommi/Desktop/Uni_documents/Data/commodity-2005.csv taking the "Dates" column as index
commodity = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/commodity-2005.csv', index_col='Dates')

In [38]:
# import /Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv
volatility = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv', index_col='Dates')

In [39]:
#upload /Users/tommi/Desktop/Uni_documents/Data/EHI640_returns10-02-2025.csv
benchmark_vol = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/EHI640_returns10-02-2025.csv')

In [40]:
#from the volatility dataframe, delete the rows where data is less than 1/12/2004 and greater than 31/12/2004
volatility = volatility.loc['31/12/2004': '31/12/2024' ]

In [41]:
volatility.tail()

,VIXY US Equity,VXX US Equity,UVXY US Equity,VIXM US Equity,VIX Index
Dates,,,,,
30/08/2024,44.00,44.500,21.83,14.42,15.00
30/09/2024,49.00,49.600,24.93,15.11,16.73
31/10/2024,57.20,57.870,30.94,15.60,23.16
29/11/2024,41.99,42.585,19.30,13.74,13.51
31/12/2024,45.02,45.800,20.72,14.46,17.35

In [42]:
benchmark_vol.tail()

    ReturnDate  PercentReturn   Index
236   Aug 2024           0.62  186.91
237   Sep 2024           1.96  190.57
238   Oct 2024           0.93  192.34
239   Nov 2024          -1.04  190.35
240   Dec 2024           0.21  190.75

In [43]:
#count the numer of rows in the benchmark_vol dataframe and volatility dataframe
print(len(benchmark_vol))
print(len(volatility))

241
241

In [44]:
#reset the index of volatility dataframe
volatility.reset_index(inplace=True)

In [46]:
#merge the benchmark_vol and volatility dataframes, the first line with the first , the second with the second and so on 
merged = pd.merge(benchmark_vol, volatility, left_index=True, right_index=True)

In [47]:
merged.head()

,ReturnDate,PercentReturn,Index,Dates,VIXY US Equity,VXX US Equity,UVXY US Equity,VIXM US Equity,VIX Index
0,Dec 2004,NaN,100.00,31/12/2004,NaN,NaN,NaN,NaN,13.29
1,Jan 2005,0.31,100.31,31/01/2005,NaN,NaN,NaN,NaN,12.82
2,Feb 2005,0.32,100.63,28/02/2005,NaN,NaN,NaN,NaN,12.08
3,Mar 2005,-1.07,99.56,31/03/2005,NaN,NaN,NaN,NaN,14.02
4,Apr 2005,-0.60,98.96,29/04/2005,NaN,NaN,NaN,NaN,15.31