In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [2]:
#/Users/tommi/Desktop/Uni_documents/Data/dragon-portfolio/EHI640_returns10-02-2025.csv
benchmark_volatility = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/dragon-portfolio/EHI640_returns10-02-2025.csv')

#read this csv file /Users/tommi/Desktop/Uni_documents/Data/dragon-portfolio/volatility-monthly.csv
volatility_monthly = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/volatility-monthly.csv')

# import /Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv
volatility = pd.read_csv('/Users/tommi/Desktop/Uni_documents/Data/volatility-2004.csv')

In [3]:
volatility.head()

,Dates,VIXY US Equity,VXX US Equity,UVXY US Equity,VIXM US Equity,VIX Index
0,27/02/2004,NaN,NaN,NaN,NaN,14.55
1,31/03/2004,NaN,NaN,NaN,NaN,16.74
2,30/04/2004,NaN,NaN,NaN,NaN,17.19
3,31/05/2004,NaN,NaN,NaN,NaN,15.50
4,30/06/2004,NaN,NaN,NaN,NaN,14.34

In [4]:
#volatility_monthly Dates to datetime
volatility_monthly['Dates'] = pd.to_datetime(volatility_monthly['Dates'])

volatility['Dates'] = pd.to_datetime(volatility['Dates'])

/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_22817/4255964890.py:2: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  volatility_monthly['Dates'] = pd.to_datetime(volatility_monthly['Dates'])
/var/folders/ly/mr0404x501n5fsqtt6yhhbtm0000gn/T/ipykernel_22817/4255964890.py:4: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  volatility['Dates'] = pd.to_datetime(volatility['Dates'])

In [5]:
len(benchmark_volatility)

241

In [6]:
volatility_monthly.tail()

,Dates,VIXY US Equity,VXX US Equity,TVIXF US Equity,SVXY US Equity,SPXS US Equity,UVXY US Equity,USMV US Equity
283,2024-09-30,49.00,49.600,0.07,50.11,6.65,24.93,91.31
284,2024-10-31,57.20,57.870,0.07,45.91,6.89,30.94,89.99
285,2024-11-29,41.99,42.585,0.07,52.92,5.84,19.30,94.55
286,2024-12-31,45.02,45.800,0.07,50.06,6.28,20.72,88.79
287,2025-01-31,43.37,44.120,0.07,50.60,5.83,19.37,91.95

In [7]:
#keep the rows only where the column 'Dates' is greater that 2004-12-1 and less than 2025-01-31
volatility_monthly = volatility_monthly[(volatility_monthly['Dates'] >= '2004-12-01') & (volatility_monthly['Dates'] < '2025-01-31')]
volatility = volatility[(volatility['Dates'] >= '2004-12-01') & (volatility['Dates'] < '2025-01-31')]

#reset the index
volatility_monthly.reset_index(drop=True, inplace=True)
volatility.reset_index(drop=True, inplace=True)

len(volatility_monthly)

241

In [8]:
len(volatility)

241

In [9]:
#merge the two dataframes on the index
merged = pd.merge(benchmark_volatility, volatility_monthly, left_index=True, right_index=True)

In [14]:
merged.head()

,Dates,EHFI451 Index,VIXY US Equity,VXX US Equity,TVIXF US Equity,SVXY US Equity,SPXS US Equity,UVXY US Equity,USMV US Equity,VIXM US Equity
0,2004-12-31,100.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005-01-31,100.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005-02-28,100.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2005-03-31,99.56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2005-04-29,98.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#drop the ReturnDate	PercentReturn columns
merged = merged.drop(columns=['ReturnDate', 'PercentReturn'])

In [12]:
dates = merged['Dates']
merged.drop(labels=['Dates'], axis=1,inplace = True)
merged.insert(0, 'Dates', dates)

VIXM = volatility['VIXM US Equity']
merged['VIXM US Equity'] = VIXM

In [13]:
#rename the Index column to EHFI451 Index
merged = merged.rename(columns={'Index': 'EHFI451 Index'})

In [15]:
#export the merged dataframe to a csv file /Users/tommi/Desktop/Uni_documents/Data/dragon-portfolio
merged.to_csv('/Users/tommi/Desktop/Uni_documents/Data/dragon-portfolio/volatility-monthly.csv', index=False)